<header class="p-3 bg-dark text-white">
	<div class="container-fluid">
		<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
			<ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
				<li><a href="/" class="nav-link px-2 text-white">Home</a></li>
				<li>
					<a href="/refresh" class="btn mx-3 btn-primary">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							width="16"
							height="16"
							fill="currentColor"
							class="bi bi-arrow-repeat"
							viewBox="0 0 16 16"
						>
							<path
								d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"
							></path>
							<path
								fill-rule="evenodd"
								d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"
							></path>
						</svg>
						Sync
					</a>
				</li>
			</ul>

			<ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
				<li><a href="/" class="nav-link px-4 text-secondary">BSU MagicPlan</a></li>
			</ul>
			<% if (page == '/') {%>
			<form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
				<input
					type="search"
					name="searchTerm"
					value="<%= searchTerm != null ? searchTerm : '' %> "
					class="form-control form-control-dark"
					placeholder="Search..."
				/>
			</form>
			<% } %>
		</div>
	</div>
</header>
